
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;

   
   
}


/* menu de navegacion*/
.header-nav {
    background-color:rgb(238, 175, 191);
    border: 1px solid #a9e6b6 ;
    margin: 10px;
    padding-left: 0;
} 
.header-nav__item {
    display: inline-block;
    
}

/* Titulos*/ 
.title {
    
    font-weight: 500;
    font-style:initial;
    font-size: 25px;
   display: flex;
   margin-bottom: 10px;
}

/*ul{

} */
/*imagenes*/

.diseños {
    width: 350px ;
}